header {
    background-color: #ececec;
    display: flex;
    direction: rtl;
    border-bottom: 1px solid #d1d1d1;
}

header .left {
    flex-grow: 1;
    line-height: 45px;
    margin-right: 8px;
}

header .menu-btn {
    border-radius: 50%;
    border: 0;
    background-color: transparent;
    outline: none;
    height: 45px;
    width: 45px;

}

.search {
    margin: auto 0;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    margin-left: 8px;
}



.search input {
    
    border: 0;
    outline: none;
    background-color: transparent;
    font-family: IRANSans;
}

header .menu-btn span {
    font-size: 20px;
}

@media screen and (min-width: 600px) {
    .options {
        display: none;
    }
}