.container {
    min-width: 300px;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    direction: rtl;
}


.error-alert {
    padding: 16px;
    margin-top: 16px;
    border-radius: 16px;
    background-color: rgba(163, 0, 0, 0.459);
    opacity: 0.8;
}

.success-alert {
    padding: 16px;
    margin-top: 16px;
    border-radius: 16px;
    background-color: rgba(0, 187, 25, 0.459);
    opacity: 0.8;
}