.insert-btn {
    background-color: rgb(255, 136, 0);
    color: white;
    border-radius: 16px;
    border: 0;
    padding: 4px;
    font-size: 16px;
    font-family: IRANSans;
    width: 70px;
    margin-top: 8px;
    
}

.comment {
    border-radius: 16px;
    display: block;
    width: 100%;
    resize: none;
    padding: 8px;
    outline: none;
    box-sizing: border-box;
    font-family: IRANSans;
}